<!DOCTYPE html><html lang="en">
<head> 
 <meta charset="UTF-8"> 
  <title>Gift Finder</title>  
  <!-- Added link to the jQuery Library -->  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script> 
  <!-- Added a link to Bootstrap--> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
  <script src="./assets/javascript/nav.js"></script>
</head>
    <body>
        <nav class="navbar navbar-expand navbar-dark bg-primary">
          <a class="navbar-brand" href="#">Gift Finder</a>
          <div class="navbar-nav flex-row">
              <a class="nav-item nav-link" href="request">Find a Gift</a>
              <a class="nav-item nav-link" href="/">Gift Finder Home</a>
              <a class="nav-item nav-link" href="share">Share a Gift</a>
          </div>
          <div class="navbar-nav flex-row ml-md-auto" id="log">
            <a class="nav-link" href="login">Sign In</a>
          </div>
        </nav>

        {{{body}}}

    </body>
</html>