<div class="container">
	<h1>Welcome to Gift Finder!</h1>
	<p>Always want to give a gift, but always have trouble thinking of one? With Gift Finder you won't run into that embarassing problem again! Simply enter in some information about your friend, family or significant other and let Gift Finder do the work for you.</p>

	<button><a href="request">Get Started</a></button>
</div>