



<div class = "container">


<div id ='gift'>
  <h1>Simply Gifting</h1>
  <strong>Let us help you find a gift for your family and friends</strong></p>
</div>


<div id = "home">
  <button type="button" class="btn btn-info"><a href="request" style = "text-align: right">Get Started</a></button>
</div>


<div id = "img">
  <table style="width:100%">
  <tr>
    <th><img src="http://s1.bwallpapers.com/wallpapers/2013/12/26/dogs-flowers_102227.jpg" alt="HTML5 Icon" style="width:300px;height:300px;"></th>
    <th><img src="https://thesweetestoccasion.com/wp-content/uploads/2010/04/wine-bottle-gift-wrap-fabric-sleeve-grosgrain-ribbon-letterpress-wine-tag.jpg" alt="HTML5 Icon" style="width:300px;height:300px;"></th> 
  </tr>
</table>
  
 
  <br>
  <br>
  
</div>
</div>



</body> 

</html> 