<div class="container-fluid">
  <h1 style = "text-align: center">Your gift Options Will be shown here</h1>
  <p style = "text-align: center"><strong>Based on your selections, below are your options</strong></p>
</div>

  <div class="row" style = "padding-top: 70px;">
    <div class="col-sm-3 col-md-6" style="background-color:yellow;">
      <img src="http://fossil.scene7.com/is/image/FossilPartners/ME1099_main?$aemResponsive_pdp$">
    </div>
    <div class="col-sm-9 col-md-6" style="background-color:pink;">
      <img src="https://assets.entrepreneur.com/content/3x2/1300/20150318185517-xbox-360-microsoft-video-games.jpeg?width=700&crop=2:1">
    </div>
  </div>


  