<h1>Below are the people you have requested gifts for in the past</h1>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Gift</th> 
    <th><a href="giftreq">Request a gift</a></th>
  </tr>
</table>