<!DOCTYPE html><html 
lang="en">
<head> 
 <meta charset="UTF-8"> 
  <title>Gift options</title>  <!-- Added link to the jQuery Library -->  
  <html lang="en">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script> 
 <!-- Added a link to Bootstrap--> 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

 
 <!-- Reference external css file -->
<!-- <link rel="stylesheet" type="text/css" href="login.css"> -->
</head>

<!DOCTYPE html><html 
lang="en">
<head> 
 <meta charset="UTF-8"> 
  <title>Add a person</title>  <!-- Added link to the jQuery Library -->  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script> 
 <!-- Added a link to Bootstrap--> 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
 
 <!-- Reference external css file -->
<!-- <link rel="stylesheet" type="text/css" href="login.css"> -->
</head>
<body>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Find a Gift</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="add">Home</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li ><a href="giftreq">Gift Request</a></li>
      <li class="active"><a href="options.html">Gift Options</a></li>
      <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Out</a></li> -->
      <li><a href="login"><span class="glyphicon glyphicon-log-out"></span> Log In</a></li>
    </ul>
  </div>
</nav>


<h1>Below are the people you have requested gifts for in the past</h1>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Gift</th> 
    <th><a href="giftreq">Request a gift</a></th>
  </tr>
</table>
</body> 
</html> 