
<!DOCTYPE html><html 
lang="en">
<head> 
 <meta charset="UTF-8"> 
  <title>Request a gift</title>  <!-- Added link to the jQuery Library -->  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script> 
 <!-- Added a link to Bootstrap--> 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
 
 <!-- Reference external css file -->
<!-- <link rel="stylesheet" type="text/css" href="login.css"> -->
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Find a Gift</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="add.html">Home</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="giftreq.html">Gift Request</a></li>
      <li><a href="options.html">Gift Options</a></li>
      <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Out</a></li> -->
      <li><a href="login.html"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h2>Personalize the gift</h2>
  <p>Answer the following questions so we can help personalize the gift for you</p>
  <form id="request">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name">
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <input type="text" class="form-control" id="age">
    </div>
    <div class="form-group">
      <label for="gender">Gender:</label>
      <select class="form-control" id="gender">
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>
    <div class="form-group">
      <label for="hobby">Hobbies (Comma separate values):</label>
      <input type="text" class="form-control" id="hobby">
    </div>
    <div class="form-group">
      <label for="like">Likes (Comma separate values):</label>
      <input type="text" class="form-control" id="like">
    </div>

    <!--TODO: Add select option for search priority-->

    <!--TODO: Optional save if user is logged in-->

    <div class="col-xs-6 col-sm-6 col-md-6">
      <input type="submit" class="btn btn-lg btn-success btn-block" value="Submit" id='submit'>
    </div>
  </form>
</div>

<script src=".../public/assets/javascript/request.js"></script>

</body>
</html>  