<div class="container">
  <p>Gift Finder gets better the more it knows about people, we'd love to hear about a wonderful gift you or someone you know has recieved. Please take a moment to fill out the following information and be the gift that keeps on giving.</p>
  <form id="add-gift">
    <div class="form-group">
      <label for="gift">Gift:</label>
      <input type="text" class="form-control" id="gift">
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <input type="text" class="form-control" id="age">
    </div>
    <div class="form-group">
      <label for="gender">Gender:</label>
      <select class="form-control" id="gender">
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>
    <div class="form-group">
      <label for="hobby">Hobbies (Comma separate values):</label>
      <input type="text" class="form-control" id="hobby">
    </div>
    <div class="form-group">
      <label for="like">Likes (Comma separate values):</label>
      <input type="text" class="form-control" id="like">
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6">
      <input type="submit" class="btn btn-lg btn-success btn-block" value="Submit" id='submit'>
    </div>
  </form>
</div>

<script src="./assets/javascript/add-gift.js"></script>